html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	background-image: url("../asset/kampus.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
}
/*
* {
	box-shadow: 1px 1px 1px #000 inset;
}
*/
a, a:visited, a:hover, a:active {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
	padding: 0px;
	border: none;
}
/*************************************************************************************************
	home page
*************************************************************************************************/
.grid-page {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 10vh 90vh;
	grid-template-areas: 'page-header page-navbar''page-rticle page-sction';
}
.grid-page.page-header {
	width: 100%;
	grid-area: page-header;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 1, 100, 1);
}
.grid-page.page-header.containers {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}
.grid-page.page-header.containers span {
	width: 100%;
	color: #fff;
	font-size: 16pt;
}
.grid-page.page-navbar {
	width: 100%;
	grid-area: page-navbar;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 1, 100, 1);
}
.grid-page.page-navbar.containers {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-end;
}
.grid-page.page-rticle {
	width: 100%;
	grid-area: page-rticle;
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: center;
	background-color: transparent;
}
.grid-page.page-rticle.containers {
	width: 95%;
	margin: 13px auto;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 12px;
}
.grid-page.page-rticle.containers.content {
	width: 95%;
	margin: 15px auto;
	display: block;
}
.grid-page.page-rticle.containers.content p {
	width: 100%;
	margin: 0px;
}
.grid-page.page-rticle.containers.content ol {
	width: 100%;
	margin: 0px;
}
.grid-page.page-sction {
	width: 100%;
	grid-area: page-sction;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}
.grid-page.page-sction.containers {
	width: 96%;
	margin: 15px auto;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}
/*************************************************************************************************
	button
*************************************************************************************************/
[type='button'] {
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: none;
	visibility: hidden;
}
[type='button'] + label {
	width: auto;
	background-color: #353dc8;
	border-radius: 5px;
	color: #fff;
	display: flex;
	outline: none;
	position: relative;
	transition: all 0.3s;
	justify-content: center;
	align-items: center;
	padding: 2px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	font-size: 10pt;
}
[type='button'] + label:hover {
	background-color: #3c0;
}
[type='button'] + label.tab1 {
	margin: 0px 7px 0px 0px;
}
[type='button'] + label.tab2 {
	margin: 0px 7px 0px 7px;
}
[type='button'] + label.tab3 {
	margin: 0px 0px 0px 7px;
}
/*************************************************************************************************
	change
*************************************************************************************************/
iframe {
	border: none;
	width: 100%;
	height: 90vh;
	overflow: hidden;
	background: transparent;
	background-color: transparent;
}
.modal-content .modal-footer {
	display: none;
	visibility: hidden;
	height: 0px;
	padding: 0px;
}
.btn.btn-primary.bootbox-accept {
	width: 50px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*************************************************************************************************
	responsive
*************************************************************************************************/
@media (min-width: 768px) and (max-width: 1024px) {
	html, body {
		background-image: url("../asset/kampus-hp.jpg");
	}
	.grid-page {
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 10vh auto auto auto;
		grid-template-areas: 'page-header''page-navbar''page-rticle''page-sction';
	}
	.grid-page.page-header.containers span {
		text-align: center;
	}
	.grid-page.page-navbar.containers {
		padding: 7px;
		justify-content: center;
	}
	iframe {
		height: 100vh;
	}
}
@media (min-width: 120px) and (max-width: 767px) {
	html, body {
		background-image: url("../asset/kampus-hp.jpg");
	}
	.grid-page {
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 10vh auto auto auto;
		grid-template-areas: 'page-header''page-navbar''page-rticle''page-sction';
	}
	.grid-page.page-header.containers span {
		text-align: center;
	}
	.grid-page.page-navbar.containers {
		padding: 7px;
		justify-content: center;
	}
	iframe {
		height: 100vh;
	}
}